CONFIG_BUSYBOX=y
CONFIG_LONG_OPTS=y
CONFIG_FEATURE_CLEAN_UP=y
CONFIG_BUILD_LIBBUSYBOX=y
CONFIG_EXTRA_CFLAGS="-U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=0 -fno-stack-protector"
CONFIG_ASH=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_ECHO=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_SH_NOFORK=y
CONFIG_SH_IS_ASH=y
CONFIG_CAT=y
